[submodule "wooting-analog-sdk"]
	path = wooting-analog-sdk
	url = https://github.com/WootingKb/wooting-analog-sdk.git
[submodule "wooting-rgb-sdk"]
	path = wooting-rgb-sdk
	url = https://github.com/WootingKb/wooting-rgb-sdk.git
[submodule "oscpkt"]
	path = oscpkt
	url = https://github.com/eddietree/oscpkt.git
[submodule "WootOSC/wooting-analog-sdk"]
	path = WootOSC/wooting-analog-sdk
	url = https://github.com/WootingKb/wooting-analog-sdk.git
[submodule "WootOSC/wooting-rgb-sdk"]
	path = WootOSC/wooting-rgb-sdk
	url = https://github.com/WootingKb/wooting-rgb-sdk.git
[submodule "WootOSC/oscpkt"]
	path = WootOSC/oscpkt
	url = https://github.com/eddietree/oscpkt.git
