[submodule "wooting-analog-sdk"]
	path = wooting-analog-sdk
	url = https://github.com/WootingKb/wooting-analog-sdk.git
[submodule "hidapi"]
	path = wooting-analog-sdk/hidapi
	url = https://github.com/signal11/hidapi.git